/*navber styles*/

.navber-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1140px;
    max-height: 71px;
    margin: 40px auto;
}
#navber-div-img{
    max-width:132px ;
    max-height:82px ;
}
.navber-div ul li a img{
    max-width: 22px;
    max-height: 24px;
}
.navber-div ul li{
list-style: none;
margin-left: 40px;
max-width: 73px;
max-height: 24px;
font-size: 18px;
}
.navber-div ul li a{
    text-decoration: none;
}
.navber-div ul{
    display: flex;
    
}
.shopping-img{
    display: flex;
    margin-right: 7px;
}
.nav-span{
    color: black;
}

/*banner styles*/
.banner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1140px;
    max-height:355px ;
    margin:70px auto ;
}
.banner-title h2{
      font-weight: 800;
     font-size: 65px;
      margin-bottom: 0px;
      margin-top: 86px;
}
.banner-title p{
    margin-bottom: 0px;
}
.banner-span{
    color: #E95A08;
}
/*body-section styles*/
/*section1 styles*/

.section1-title{
    text-align: center;
    max-width: 1140px;
    margin: 10px auto;
}
.section1-title h2{
    font-weight: 800;
    font-size:50px;
    margin-top:10px;
    margin-bottom: 10px;
}
.section1-span{
    color: #E95A08;
}
.section1-card ul{
    list-style: none;
}
.section1-card-img{
    max-width:270px ;
    max-height: 323px;
}
.section1-card-ul h4{
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 0px;
}
.section1-card-ul h3{
    font-weight:700 ;
    font-size:22px ;
    margin-top: 15px;
    margin-bottom: 0;
}
.section1-card-btn button{
    background-color: #E95A08;
    color: white;
    cursor: pointer;
    font-weight: 700;
    margin-top:20px ;
    width: 100%;
    height: 50px;

}
.section1-card-ul li{
    max-width:270px ;
    max-height:485px ;
    text-align: center;
    margin-top: 20px;
   
}
.section1-card-ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 20px auto;
    max-width: 1140px;

}

/*seller badge styles*/
.badge-sec2{
    margin-top: 50px;
   max-width: 269px ;
    max-height:269px;
    text-align: center;
   margin-bottom: -140px;
  position: relative;
  z-index: 10;
   
}
.img-container{
    max-width: 1140px;
    max-height: 200px;
    text-align: center;
    margin:  auto;
   
}


/*section2 styles*/
.section2-img{
   max-width: 540px;
   max-height: 597px;
}
.section2-text{
    max-width: 540px;
    max-height: 521px;
    margin-left: 50px;
}
.section2-text h3{
     font-weight: bold;
     font-size: 50px;
}
.section2-text ul li{
           font-size: 22px;
           margin-top: 20px;
           margin-bottom: 20px;
           margin-left: 30px;
}
.section2-main{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   max-width: 1140px;
   margin: 20px auto;
   justify-content: space-between;
  
}
/*latest deals styles*/
.latest-deal h2{
    font-weight: 800;
    font-size: 50px;
    margin-bottom: 10px;
    margin-top: 50px;
}
.latest-deal{
    max-width: 1140px;
    max-height: 150px;
    text-align: center;
    margin: 50px auto;
}


/*section3 styles*/
.section3-container{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   max-width: 1140px;
   margin: 10px auto;
}
.section3-first-container{
   width: 367px;
   height: 423px;
}
 .pic-span{
   text-align: center;
  margin-top: 0px;
  font-weight: 800;
  font-size: 16;
 }
 .pic-span3{
     text-align: center;
  margin-top: 0px;
  font-weight: 700;
  font-size:28px ;
 }
 .pic{
    color: white;
 }
.section3-first-container h2{
    color: white;
    text-align: center;
    font-weight: 800;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 10px;
    
}
.section3-list3 h2{
     font-weight: 800;
     font-size:40px;
     color: white;
   margin-bottom: 15px;
     text-align: center;
     margin-top: 150px;
}

.scection3-list1{
    width: 367px;
    height: 201px;
    margin-top: 0p;
    border: 1px solid greenyellow;
    border-radius: 12px;
    margin-bottom: 5px;
    background-image: url(./images/deal-bloom.png);
}
.section3-list2{
    width:367px ;
    height: 197px;
   margin-top: 10px;
   border: 1px solid greenyellow;
   border-radius: 12px;
   margin-bottom: 10px;
    background-image: url(./images/deal-ana.png);
}
.section3-list3{
    width: 753px;
    height:423px ;
    border: 1px solid skyblue;
    border-radius: 22px;
   margin-top: 0px;
background-image: url(./images/deal-zabo.png);
}
 
/* section4 styles */
.section4{
  width: 1440px;
  height:533px ;
  margin-top: 50px;
  border: 1px solid rgb(135, 153, 235);
  background-image: url(./images/news-letter-bg.png);

}
.section4-form{
    
  text-align: center;
}
.section4-container h2{
    font-weight: 800;
    font-size: 50px;
    color: white;
    text-align: center;
    margin-top: 199px;
    margin-bottom: 20px;
}
.section4-form input{
    max-width: 644px;
    padding-right: 500px;
    padding-top: 13px;
    padding-bottom: 13px;  
}

.form-btn{
    font-weight: 500;
    padding-left:53px ;
    padding-right: 53px;
    padding-top: 13px;
    padding-bottom: 13px;
    background: #E95A08;
    cursor: pointer;
}
/* footer section styles */
.footer-container{
    width: 1120px;
    height: 248px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}
.footer-sec-1 img{
    width: 115px;
    height: 82px;
}
.footer-sec-2 ul li{
    list-style: none;
    margin-bottom: 12px;
}
.footer-sec-2 ul li a{
    text-decoration: none;
}
.footer-sec-3 ul li{
    list-style: none;
    margin-bottom: 12px;
}
.footer-sec-3 ul li a{
    text-decoration: none;
}
.footer-sec-4 ul li{
    list-style: none;

}
.footer-icon {
    display: flex;
    justify-content: space-evenly;
}

/*@media styles*/
/*small devices @media*/
@media screen and (max-width: 576px){
    .navber-div{
    align-items: center;
    justify-content: space-between;
    max-width: 361px;
    max-height: 38px;
    margin: 10px auto;
}
    
    #navber-div-img{
        max-width:63px ;
        max-height: 38px;
    }
    .media-none{
        display: none;
    }

    /*banner responsive*/
    .banner{
        grid-template-columns: repeat(1, 1fr);
    
    }
    .banner-title h2{
        margin-top: 20px;
        font-weight: 800;
        font-size: 24px;
    }
    .banner-img{
        order: 1;
        margin-top:0px;
        margin-bottom: 0px;
        max-width: 100%;
    }
    .banner-title{
        order: 2;
       max-width:361px ;
        max-height:auto ;
        margin-top: 5px;
        margin-left:16px;
        margin-right: 16px;
    }
 /*section1 responsive*/
.section1-title{
    margin-top: 250px;
    text-align: center;
    max-width: 393px;
    max-height: 117px;
}
.section1-title h2{
    font-weight: 800;
    font-size:24px;
    margin-top:10px;
    margin-bottom: 5px;
}
.section1-card-ul{
    grid-template-columns: repeat(2, 1fr);
    margin: 10px auto;
    max-width: 361px;

}
.section1-card-ul li{
    max-width:171px ;
    max-height:340px ;
  align-items: center;
   margin-left: 10px;
}
.section1-card-img{
    max-width:171px ;
    max-height: 197px;
}
/*section2 responsive*/
.img-container{
    display: none;
}
.section2-main{
  
   grid-template-columns: repeat(1, 1fr);
   width: 100%;
   justify-content:center;

}
.section2-text ul li{
           margin-left: 0px;
}
.hidden{
    display: none;
}
.section2-img{
    margin-top: 50px;
}


/*latest deals responsive*/
.latest-deal h2{
    font-weight: bold;
    font-size: 24px;
}
.latest-deal{
    max-width:100%;
    max-height: 120px;
    text-align: center;
    margin: 30px auto;
    font-size: 14px;
}
/*section3 responsive*/
.section3-container{
  
   grid-template-columns: repeat(1, 1fr);
   max-width: 100%;
   margin: 10px auto;
}
.scection3-list1{
    width:550px;
    height: 201px;
    margin: 10px auto;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid greenyellow;
    border-radius: 12px;
    margin-bottom: 5px;
}
.section3-list2{
    width:550px ;
    height: 201px;
   margin-top: 10px;
   border-radius: 0px;
   background-size: cover;
   background-repeat: no-repeat;
   border: 1px solid greenyellow;
   margin: 10px auto;
}
.section3-list3{
    width: 550px;
    height:201px ;
    border: 1px solid skyblue;
    border-radius: 12px;
    margin: 10px auto;
}
.section3-list3 h2{
     font-weight: 700;
     font-size:20px;
     color: white;
   margin-bottom: 15px;
     text-align: center;
     margin-top: 50px;
}
.pic-span3{
     text-align: center;
  margin-top: 0px;
  font-weight: 800;
  font-size:16px ;
}

/* section4 responsive */
.section4{
  width: 100%;
  height:275px;
  margin-top: 30px;
  border: 1px solid rgb(135, 153, 235);
}
.section4-container h2{
    font-weight: 700;
    font-size: 20px;
    color: white;
    text-align: center;
    margin-top:110px;
    margin-bottom: 10px;
}
.section4-form input{
    padding-right:150px;
    padding-top: 8px;
    padding-bottom: 8px;  
}
.form-btn{
    font-weight: 500;
    padding-left:33px ;
    padding-right: 33px;
    padding-top: 8px;
    padding-bottom: 8px;
    background: #E95A08;
    cursor: pointer;
    
}

/* footer responsive */
.footer-container{
    width: 100%;
    margin: 40px auto;
    grid-template-columns: repeat(1, 1fr);
}
.footer-icon {
    display: flex;
   justify-content: flex-start;
}
.footer-icon li{
    margin-right: 30px;
}
}